<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<!--
  Note that this plugin doesn't define its own regions, it simply wraps TShock regions for the houses and names them in the
  format "*H_<Owner>:<Index>" where <Owner> is the owner of the house region and <Index> automatically increases with each new
  house the owner defines.
-->
<HouseRegionsConfiguration
  xmlns="http://github.com/CoderCow/HouseRegions-Plugin"
  
  Version="1.0"
>
  <!--
    The maximum amount of houses a player can own. Set to 0 for unlimited.
  -->
  <MaxHousesPerUser>10</MaxHousesPerUser>

  <!--
    Rejects based off whichever is greater: Width, Height, or TotalTiles
    Assume: TotalTiles=25, Width=8, Height=4
    If house defined with size [7, 4] (28), rejects because width
    If house defined with size [8, 3] (24), rejects because total tiles (and also height)
    If house defined with size [4, 5], rejects because total tiles (and also width, and also height)
  -->
  <MinHouseSize>
    <TotalTiles>25</TotalTiles>
    <Width>8</Width>
    <Height>4</Height>
  </MinHouseSize>
  
  <!--
    Rejects based off whichever is lesser: Width, Height, or TotalTiles
    Assume: TotalTiles=7500, Width=150, Height=150
    If house defined with size [155, 20] (3100), rejects because width
    If house defined with size [150, 155] (23250), rejects because total tiles (and also height)
    If house defined with size [155, 155] (24025), rejects because total tiles (and also width, and also height)
  -->
  <MaxHouseSize>
    <TotalTiles>7500</TotalTiles>
    <Width>150</Width>
    <Height>150</Height>
  </MaxHouseSize>

  <!--
    Whether house regions can overlap with TShock regions or not.
      
    NOTE:
          House regions CANNOT overlap when owned by different users (but CAN when owned by the same user)
          They can always overlap with TShock regions if the TShock region's name is prefixed with a star (*),
          independent of this setting.
  -->
  <AllowTShockRegionOverlapping>false</AllowTShockRegionOverlapping>

  <!--
    The default z-index for new house regions.
  -->
  <DefaultZIndex>0</DefaultZIndex>
</HouseRegionsConfiguration>